{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browers": ["last 2 versions", "not ie <= 8"]
                }
            }
        ]
    ]
}