<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./../layout/import.ejs')%>
<link href="./../css/index.376ef2ea80c19a49b4bc.css" rel="stylesheet"></head>
<body>
    <%- include('./../layout/header.ejs')%>
    <h1><%=data%></h1>
    <%- include('./../layout/footer.ejs')%>
<script type="text/javascript" src="./../js/vendor-376ef2ea80c19a49b4bc.js"></script><script type="text/javascript" src="./../js/index-376ef2ea80c19a49b4bc.js"></script></body>
</html>