<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
<link href="./../css/login.376ef2ea80c19a49b4bc.css" rel="stylesheet"></head>
<body>
    <div><%=data%></div>
<script type="text/javascript" src="./../js/vendor-376ef2ea80c19a49b4bc.js"></script><script type="text/javascript" src="./../js/login-376ef2ea80c19a49b4bc.js"></script></body>
</html>